body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #2d1f5d, #7ba4eb);
  color: white;
  text-align: center;
}

h1 {
  padding: 20px;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 15px;
  padding: 20px;
  
}

.gallery img {
  width: 100%;
  border-radius: 10px;
  transition: transform 0.4s, box-shadow 0.4s;
  
}

.gallery img:hover {
  transform: scale(1.1);
  box-shadow: 0 10px 20px rgba(0,0,0,0.5);
}